{% load ielts_tags %}
{% load static %}

<link rel="stylesheet" href="{% static 'css/draganddrop.css' %}">


{% for object in objects %}
    <h2>{{ object.title }}</h2>
    {% if object.qtype == "inline" %}
        {{ object.data|inline }}
    {% elif object.qtype == "inline_list" %}
        {{ object.data|inline_list }}
    {% elif object.qtype == "inline_tab" %}
        {{ object.data|inline_tab }}
    {% elif object.qtype == "radios" %}
        {{ object.data|radios }}
    {% elif object.qtype == "checkbox" %}
        {{ object.data|checkbox:object.title }}
    {% elif object.qtype == "tabular" %}
        {{ object.data|tabular }}
    {% elif object.qtype == "grid" %}
        {{ object.data|grid }}
    {% elif object.qtype == "assign" %}
        {{ object.data|assign }}
    {% elif object.qtype == "draganddrop" %}
        {{ object.data|draganddrop }}
    {% endif %}
{% endfor %}
<script src="{% static 'js/checkbox.js' %}"></script>
<br><br>



<script src="{% static 'js/draganddrop.js' %}"></script>


<br><br>

